lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
*.map
*.js

public/javascripts/*.js

pids
logs
results

npm-debug.log
node_modules
public/javascripts/vendor.js
public/javascripts/prompts.js
public/javascripts/vendor.js
