/* Only for Large Devices + widths (768px+ in width) */

// Step numbers

@step-number-spacing: 20px;

.step-number.left {
    margin-right: @step-number-spacing*(2/3);
}

.step-number.right {
    margin-left: @step-number-spacing*(2/3);
}

.step-number.middle {
    margin-left: @step-number-spacing/3;
    margin-right: @step-number-spacing/3;
}

