/* Mobile first (override large devices with desktop.css) */

body {
    font-family: 'Dosis', sans-serif;
    background-color: #FFFFFF;
    color: #333;
}

h2, h3 { font-family: 'Dosis', sans-serif; }

.tt-header {
    background-color: #F0F0F0;
    background-image: none;
    min-height: 70px;
    margin-bottom: 0;
}

.tt-container {
    padding-bottom: 100px;
}

.col-lg-5 {
    padding-left: 0;
    padding-right: 0;
}

.central-container {}

.central-container__main {
    min-height: 22em;
    padding: 30px;
    color: white;
    background-color: #016585;
}

.central-container__tagline {
    font-size:24px;
    color: white; /* Overriding Bootstrap */
}

.central-container__cta {
    font-size:18px;
}

.share-footer {
    background-color: #F0F0F0;
    padding: 1em;
}

.share-footer .control-label {
    padding-right: 1em;
    font-size: 1.5em;
}

.btn-share {
    padding: 8px 7px;
    font-size: 17px;
    line-height: normal;
}

.tt-footer {
    /* Push the footer to the bottom */
    bottom: auto;
    position: static;

    background-color: #F0F0F0;
    border-radius: 0px;
    background-image: none;
    text-shadow: none;
}

.tt-modal {
    background-color: #016585;
}

/*.modal-dialog {
    width: 680px;
    margin: 30px auto;
}

#modal_header {
    color: black;
}

.modal-content{
    background-color: #FFFFFF;
}*/


#saythanks{
    background-image: none;
    border: none;
    text-shadow: none;
    color: white;
    background-color: #F37533;
    font-size: 20px;
    text-decoration: none;
}

#saythanks:hover{
    background-color: #E36523;
}

.submit-button{
    background-color: #8dca84 !important;
    background-image: none !important;
    border: none !important;
    text-shadow: none !important;
}

.close-button{
    background-color: #cccccc !important;
    background-image: none !important;
    border: none !important;
    text-shadow: none !important;
}

.well.postcard-container {
    overflow: auto;
    position: relative;
    width: 100%;
    min-height: 350px;
    font-size: 1.2em;
    background-color: #F0F0F0;
}

.postcard-container .content {
    display: inline-block;
    float: content;
    min-height: 350px;
}

.postcard-container .address {
    border-left: 1.5px solid #A4A4A4;
    height: 100%;
    min-height: 350px;
}

.envolope-container{
    display: inline-block;
    float: content;
    min-height: 250px;
    min-width: 100%;
}

#spacer {
    float: left;
    display: block;
    width: 0;
    height: 100%;
}

.upload {
    float: left;
    clear: both;
    display: block;
    text-align: center;
    height: 150px;
    width: 150px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ddd;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.upload-text {
    margin-top: -30px;
    font-size: 20px;
    color: black;
}

.underline {
    display: inline-block;
    border: none;
    border-bottom: 1px solid #A4A4A4;
    min-width: 50px !important;
    background-color: transparent;
    width: auto;
    max-width: 100%;
}

#freetext{
    border-bottom: none;
    min-height: 150px;
}

.black-text{
    color: black;
}

.underline:active,
.underline:focus {
    outline: 0px solid transparent;
}

.stamp-row {
    text-align: right;
}

.stamp {
    width: 100px;
    margin-right: -15px;
}

#prompt-text{
	font-size: 18px;
    color: white;
}


#stamp_div{
    width: 100%;
    min-height: 130px;
    margin: 0px;
    padding: 0px;
    margin-right: -25px;
    margin-top: -10px;
    min-width: 80px;
}

.address-well {
    min-height: 100px;
    width: 100%;
    margin-top: 50px;

}

.full-width{
    width: 95%;
}

#video-button-mobile{
    font-size:12px;
    background-image: none;
    background-color: #808284;
    color: white;
    text-shadow: none;
    border: none;
}

#checkbox_span{
    font-size: 14px;
}

#checkbox_input{
    vertical-align: middle;
}

#send_button_div{
    text-align: center;
}

#return_address{
    margin-right: -20px;
}

h1, h2, h3, h4, h5, h6{
    color: black;
}

input{
    border: none;
    /*min-width: 50px !important;*/
    background-color: transparent;
    /*width: 100%;*/
    /*max-width: 100%;*/
}

textarea{
    border: none;
    min-width: 100%;
    background-color: transparent;
    width: auto;
    max-width: 100%;
    min-height: 200px !important;
}

.editable{
    /*border-bottom: 1px solid #A4A4A4;*/
}

.small{
    width: auto;
    font-size: 14px;
}

.signature{
    text-align:right;
}

input:focus { outline: none; }
textarea:focus { outline: none; }

.text-center {
    text-align: left;
    padding: 10px;
}

.share {
    background-color: #8DCA84;
    border: none;
    color: white;
    text-shadow: none;
    margin: 0 !important;
}

.share:hover {
    border: none !important;
    margin: 0 !important;
}

#share{
    background-color: #8dca84;
    background-image: none;
    border: none;
    text-shadow: none;
    color: white;
}

#share-text{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 50px;
    border-radius: 5px;
}

#school-select {
    height: 175px;
}

#video_stamp{
    cursor: pointer;
    cursor: hand;
}

.share {
    min-width: 65px;
}

.button-green{
    background-image: none;
    border: none;
    text-shadow: none;
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #8DCA84;
    font-weight: bold;
    margin-right: 15px;
    cursor: pointer;
    text-align: center;
    min-width: 90px;
}

.button-green:hover{
    background-color: #7DBA74 !important;
}

.button-orange{
    background-image: none;
    border: none;
    text-shadow: none;
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #F37533;
    font-weight: bold;
    margin-right: 15px;
    cursor: pointer;
    text-align: center;
    min-width: 90px;
}

.button-orange:hover{
    background-color: #CC622B !important;
}

#share-buttons {
    margin-right: auto;
    margin-left: auto;
    border: 2px solid black;
}

.thumbnail{
    background-color:#003445;
    padding: 2px;
    border-radius: 0px;
    border: 0px;
}

.panel-heading{
    background-color: #016585 !important;
    border-radius: 0px;
    border: 0px;
}

.panel-heading h3{
    color: white;
}

.panel-body{
    background-color: #F0F0F0;
    border-radius: 0px;
}

.panel{
    border-radius: 0px;
    border: 0px;
}

#fadedtext{
    color: #737373;
}

.answer.form-control {
    font-size: 1.3em;
    height: 1.5em;
}

.question-form {
    font-size: 1.9em;
}

.btn-next {
    font-size: 0.85em;
    font-weight: bold;
    background-image: none;
}

.btn-find {
    font-size: 0.85em;
    font-weight: bold;
    background-image: none;
}

#progress {
    height: 2em;
}
#progress > .progress-bar {
    background-color: #F37533;
}

.green:hover {
    background-color: #8DCA84;
}

#progress-label {
    font-size: 1.5em;
    line-height: 1.6em;
    font-weight: bold;
}

.blue-panel {
    background-color: #016585;
    padding: 30px;
    color: white;
}

#questions-panel {
    min-height: 625px;
}

.question-label {
    float: right;
    vertical-align: middle;
}

.padded {
    padding-right: 50px;
    padding-left: 50px;
}

.row-center-vert {
    /*display:table;*/
}

.col-center-vert {
    display: inline-block;
    vertical-align:middle;
    float:none;
}

.full-width-center {
    width: 100%;
    text-align: center;
    margin-right: 0px auto;
    margin-left: 0px auto;
}

.medium-font {
    font-size: 30px !important;
}

.question-text {
    margin-left: 1em;
    margin-right: 1em;
    color: white;
    font-size: 1.9em;
}

.slide-wrapper {
    position: relative;
    clip: rect(0px, 1200px, 1000px, 0px);
}

.slide-panel {
    /*position: absolute;*/
    width: 100%;
}

#review-notice {
    font-size: 1.6em;
}

#postcard-share {
    min-height: 150px;
}

select#state {
    font-size: 1em;
    height: 1.6em;
    padding-top: 2px;
}

.typeahead-in-blue {
    color: #666;
}

/* Video container adapted from http://css-tricks.com/rundown-of-handling-flexible-media/ */
.video-container {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
}

.video-container iframe {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
  height: 100%;
}
/* End Video Container */