// Color Variables
@blue-color: #004BAD;
@blue-light-color: #0083AD;
@green-color: #8DCA84;
@orange-color: #F3733C;
@grey-color: #808284;
@white-color: #FFFFFF;

// Font Variables
@large-font: 16px;
@small-font: 12px;
@tiny-font: 8px;

// Navbar Header
.navbar-header, .navbar-brand{
    width: 100%
}

.tt-header {
    background-image: none;
    border: none;
    text-align: center;
}

.navbar-brand > h4 {
    font-weight: bold;
}

.navbar-brand > p {
    font-size: @small-font;
}

// Navbar footer
.tt-footer {
    text-align: center;
    margin: 0;
}

.tt-footer-contents > p {
    font-size: @tiny-font;
}

// How-It-Works widget
.how-it-works {
    padding: 10px;
    background-color: @blue-light-color;
    color: @white-color;
    text-decoration: none;
    font-size: @small-font;
}

@how-it-works-icon-width: 40px;
@how-it-works-icon-height: 33px;
.how-it-works-icon {
    float: left;
    width: @how-it-works-icon-width;
    height: @how-it-works-icon-height;
}

.how-it-works-text {
    margin-left: @how-it-works-icon-width+5px;
    padding: 0;
    .vert-center-container(@how-it-works-icon-height);
    div {
        .vert-center-item();
    }
}

.how-it-works-half-row-padding {
    padding-left: 10%;   
}

.how-it-works-added-padding {
    padding-left: 30px;
}


// Step Numbers

.step-number-container {
    padding: 0;
    margin: 0;
}

.step-number {
    background-color: @blue-color;
    color: @white-color; 
    margin: 10px 0 10px 0;
    padding: 0;
    border-style: solid;
    border-color: @blue-color;
    border-width: 3px;
    .border-radius(5px);
    p {
        margin: 5px 0 5px 0;
    }
}

.step-number.active {
    background-color: @blue-light-color;
}

// About Thank-a-Teacher
.video-container {
    height: 0;
    padding-bottom: 56.25%; /* 16:9 */
    position: relative;
}

.video-container iframe {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
}

// Share buttons

@share-btn-width: 100px;
@share-btn-spacing: 10px;
@share-btn-num: 4;

.share-btn-container {
    .horz-center(@share-btn-width*@share-btn-num + 
                 (@share-btn-num - 1)*@share-btn-spacing);
}

.share-btn {
    font-size: @small-font;
    line-height: normal;
    border: none;
    color: white;
    text-shadow: none;
    margin: 0;
    .border-radius(3px);
    width: @share-btn-width;
}

.share-btn.left {
    margin-right: @share-btn-spacing/2;
}

.share-btn.middle {
    .share-btn.left();
    .share-btn.right();
}

.share-btn.right {
    margin-left: @share-btn-spacing/2;
}

.share-btn.btn-email {
    background: #8DCA84;
}


// INDEX

#home-share-buttons {
    margin-top: 50px;
    margin-bottom: 50px;
}

// About us and privacy policy
.padded-container{
    padding: 20px;
}

// UTILS

.border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.vert-center-container(@height) {
    display: table;
    height: @height;
    overflow: hidden;
}

.vert-center-item {
    display: table-cell;
    vertical-align: middle;
}

.horz-center(@width) {
    float: none;
    margin: 0 auto;
    width: @width
}
