@import "utils.less";

// Color Variables
@blue-color: #004BAD;
@blue-light-color: #0083AD;
@green-color: #8DCA84;
@orange-color: #F3733C;
@grey-color: #808284;
@white-color: #FFFFFF;

// Font Variables
@large-font: 16px;
@small-font: 12px;
@tiny-font: 8px;

// Navbar Header
.navbar-header, .navbar-brand{
    width: 100%
}

.tt-header {
    background-image: none;
    border: none;
    text-align: center;
}

.navbar-brand > h4 {
    font-weight: bold;
}

.navbar-brand > p {
    font-size: @small-font;
}

// Navbar footer
.tt-footer {
    text-align: center;
    margin: 0;
}

.tt-footer-contents > p {
    font-size: @tiny-font;
}

// Interior Page Panel
// TODO: needs fixing

.button-orange {
    background-image: none;
    border: medium none;
    text-shadow: none;
    color: @white-color;
    font-size: @large-font;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: @orange-color;
    font-weight: 700;
    margin-right: 15px;
    cursor: pointer;
    text-align: center;
    min-width: 90px;
}

.thank-you-panel {
    padding: 30px;
    background-color: @blue-light-color;
    color: @white-color;
	text-decoration: none;
	font-size: @large-font;
}

// How-It-Works widget
.how-it-works {
    padding: 10px;
    background-color: @blue-light-color;
    color: @white-color;
    text-decoration: none;
    font-size: @small-font;
}

@how-it-works-icon-width: 40px;
@how-it-works-icon-height: 33px;
.how-it-works-icon {
    float: left;
    width: @how-it-works-icon-width;
    height: @how-it-works-icon-height;
}

.how-it-works-text {
    margin-left: @how-it-works-icon-width+5px;
    padding: 0;
    .vert-center-container(@how-it-works-icon-height);
    div {
        .vert-center-item();
    }
}

.how-it-works-half-row-padding {
    padding-left: 10%;   
}

.how-it-works-added-padding {
    padding-left: 30px;
}


// Step Numbers

.step-number-container {
    padding: 0;
    margin: 0;
}

.step-number {
    background-color: @blue-color;
    color: @white-color; 
    margin: 10px 0 10px 0;
    padding: 0;
    border-style: solid;
    border-color: @blue-color;
    border-width: 3px;
    .border-radius(5px);
    p {
        margin: 5px 0 5px 0;
    }
}

.step-number.active {
    background-color: @blue-light-color;
}

// About Thank-a-Teacher
.video-container {
    height: 0;
    padding-bottom: 56.25%; /* 16:9 */
    position: relative;
}

.video-container iframe {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
}

// Share buttons

.share-btn {
    font-size: @small-font;
    line-height: normal;
    border: none;
    color: white;
    text-shadow: none;
    margin: 0;
    .border-radius(3px);
}

.share-btn.btn-email {
    background: #8DCA84;
}


// INDEX

#home-share-buttons {
    margin-top: 50px;
    margin-bottom: 50px;
}

