
#about-container.white-text
    center
        .white-text
            img(src=static('images/TTLightbulb.png'))
        h4.white-text About Thank-a-Teacher

    .video-container
        iframe(src="//www.youtube.com/embed/_C4eLoqXzxg?showinfo=0&modestbranding=1&controls=0&rel=0&wmode=transparent", frameborder="0", allowfullscreen)

    p.
        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nullam enim ante, sagittis
        fermentum massa nec, mattis lacinia
        lorem. Nulla mattis, ante ut pellentesque
        ullamcorper, turpis turpis tincidunt sem,
        vel viverra eros eros vitae lacus.

    a(href='/about') LEARN MORE ABOUT THE PROJECT
        i.fa.fa-angle-right