.row.tt-footer
	.tt-footer-contents.col-md-8.col-md-offset-2
		hr
		p &copy; 2014 Thank-A-Teacher.org |&nbsp;
			a(href='mailto:hello@thank-a-teacher.org') Send Us Feedback 
			| |&nbsp;
			a(href="/privacy") Privacy Policy
