.postcard-container
    .fixed-aspect-content
        .row.clear-bootstrap-margins.postcard-internal-container
            .col-xs-6.postcard-left
                p.postcard-salutation
                p.postcard-body
                a.postcard-full-message-link See Full Message
                p.postcard-closing Sincerely,
                p.postcard-signature

            .col-xs-6.postcard-right
                img.postcard-stamp(src=static("images/stamp.png"))
                .postcard-address
                    p.postcard-addressee
                    p.postcard-school
                    p.postcard-city-state


