
.postcard-container
    .fixed-aspect-content
        .row.clear-bootstrap-margins.postcard-internal-container
            .col-xs-6.clear-bootstrap-paddings.postcard-left
                p left
            .col-xs-6.clear-bootstrap-paddings.postcard-right
                p right
