header.tt-header.navbar.navbar-static-top(role="banner")
	.container
		.navbar-header
			a.navbar-brand.tt-navbar-brand(href='/')
				img.logo(src=static('images/logo.png'))
				p.tagline a student project
