header.tt-header.navbar.navbar-static-top(role="banner")
    .container-fluid
        .navbar-header
            a.navbar-brand.tt-navbar-brand(href='/')
                img.logo(src=static('images/logo.png') alt='logo')
            ul.nav.navbar-nav.tagline-container
                li.tagline a student project