.how-it-works.half-row-padding
    .container
        .row
            .col-sm-3
                .how-it-works-icon: i.fa.fa-3x.fa-square-o
                .how-it-works-text: div Complete the thank you note above
            .col-sm-1
                .how-it-works-arrow: i.fa.fa-3x.fa-long-arrow-right
            .col-sm-3
                .how-it-works-icon: i.fa.fa-3x.fa-square-o
                .how-it-works-text: div We email to your school
            .col-sm-1
                .how-it-works-arrow: i.fa.fa-3x.fa-long-arrow-right
            .col-sm-3
                .how-it-works-icon: i.fa.fa-3x.fa-square-o
                .how-it-works-text: div Your teacher recieves it