.container-fluid.how-it-works-container
    .row-fluid.how-it-works-row
        .col-md-2.no-padding-div.col-md-offset-1
            .col-md-2.no-padding-div
                i.fa.fa-3x.fa-info-circle
            .col-md-10.no-padding-div
                | Complete the thank 
                br
                | you note form above
        .col-md-2.no-padding-div
            i.fa.fa-3x.fa-long-arrow-right
        .col-md-2.no-padding-div
            .col-md-2.no-padding-div
                i.fa.fa-3x.fa-info-circle
            .col-md-10.no-padding-div.top-padding-div
                | We email it to your school
        .col-md-2.no-padding-div
            i.fa.fa-3x.fa-long-arrow-right
        .col-md-2.no-padding-div
            .col-md-2.no-padding-div
                i.fa.fa-3x.fa-info-circle
            .col-md-10.no-padding-div.top-padding-div
                | Your teacher reads it

