.how-it-works.how-it-works-half-row-padding
    .container
        .row
            .col-sm-8.col-sm-offset-1.text-center
                .col-sm-4
                    i.green-text.fa-2x.fa.fa-check-circle
                    p Complete the thank you note above
                .col-sm-4
                    i.orange-text.fa-2x.fa.fa-envelope
                    p We email to your school
                .col-sm-4
                    i.dark-blue-text.fa-2x.fa.fa-star
                    p Your teacher recieves it
           // .col-sm-3.how-it-works-added-padding
           //     .how-it-works-icon: i.fa.fa-2x.fa-check-circle
           //     .how-it-works-text: div Complete the thank you note above
           // .col-sm-1
           //     .how-it-works-arrow: i.fa.fa-3x.fa-long-arrow-right
           // .col-sm-3.how-it-works-added-padding
           //     .how-it-works-icon: i.fa.fa-2x.fa-envelope
           //     .how-it-works-text: div We email to your school
           // .col-sm-1
           //     .how-it-works-arrow: i.fa.fa-3x.fa-long-arrow-right
           // .col-sm-3.how-it-works-added-padding
           //     .how-it-works-icon: i.fa.fa-2x.fa-star
           //     .how-it-works-text: div Your teacher recieves it