.how-it-works-container
  .how-it-works-row
      .col-sm-10.col-sm-offset-1.how-it-works-vert-center
          .col-sm-6.how-it-works-vert-center
            .col-sm-2.how-it-works-vert-center
              img(src=static('images/TTCheck.png') width='40px')
            .col-sm-10.how-it-works-vert-center
              p Write a thank you note to your teacher
          .col-sm-1.how-it-works-vert-center.hidden-xs
              img(src=static('images/TTArrow.png') width='20px')
          .col-sm-5.how-it-works-vert-center
            .col-sm-2.how-it-works-vert-center
              img(src=static('images/TTEmailIcon.png') width='40px')
            .col-sm-10.how-it-works-vert-center
              p We send it to your school
