.how-it-works-container
  row.how-it-works-row
      .col-sm-8.col-sm-offset-2.vert-center
          .col-sm-6.vert-center
            .col-sm-2.text-center.vert-center
              img(src=static('images/TTCheck.png') width='40px')
            .col-sm-10.text-center.vert-center
              p Write a thank you note to your teacher
          .col-sm-1.text-center.vert-center.hidden-xs
              img(src=static('images/TTArrow.png') width='20px')
          .col-sm-5.vert-center
            .col-sm-2.text-center.vert-center
              img(src=static('images/TTEmailIcon.png') width='40px')
            .col-sm-10.text-center.vert-center
              p We send it to your school