.row
	.how-it-works.col-md-8.col-md-offset-2
		.col-md-4
			.row
				.col-md-2
					i.fa.fa-3x.fa-square-o
				.col-md-10
					| Complete the thank
					br 
					| you note form above
		.col-md-4
			.row
				.col-md-2
					i.fa.fa-3x.fa-square-o
				.col-md-10
					| We email it to your school
		.col-md-4
			.row
				.col-md-2
					i.fa.fa-3x.fa-square-o
				.col-md-10
					| Your teacher recieves it
