.how-it-works-container
  .how-it-works-row
    .how-it-works-vert-center
      .how-it-works-icon.how-it-works-vert-center
        img(src=static('images/TTCheck.png') width='40px' alt='')
      .how-it-works-vert-center
        p Write a thank you note to your teacher
    .how-it-works-arrow.how-it-works-vert-center
        img(src=static('images/TTArrow.png') width='20px' alt='')
    .how-it-works-vert-center
      .how-it-works-icon.how-it-works-vert-center
        img(src=static('images/TTEmailIcon.png') width='40px' alt='')
      .how-it-works-vert-center
        p We send it to your school
