#fb-root
.submitted-header
    h1.text-center.white-text.
        It&#8217;s on the way!
    h3.text-center.white-text.
        Your thank you note has been submitted. Now tell your friends.
.row
    .col-xs-12.col-md-6.col-md-offset-1
        include full-postcard
        include share-postcard-tweet
    .col-xs-12.col-md-4
        include share-postcard-email
        include share-postcard-facebook
.row
    .col-sm-6.col-sm-offset-3.text-center.back-row
        p
            a.back-text(href='/')
                strong BACK TO HOME
                i.fa.fa-angle-right
