include modal
.container
    .row
        .col-sm-6.col-sm-offset-3.sn-text-center.sn-header
            h3 Thank You Notes Shared By Others
    .row.sn-half-row
        .col-sm-4
            img(src=static('images/jessica_video_thumb.png') data-toggle="modal" data-target="#videomodal").sn-image
            .sn-text-header
                strong John Doe
                | &nbsp;thanks&nbsp;
                strong Mr. Jones
            .sn-text-body
                | from George Washington Middle School
                br
                | In Philipedphia, PA
        .col-sm-4
            img(src=static('images/jessica_video_thumb.png') data-toggle="modal" data-target="#videomodal").sn-image
            .sn-text-header
                strong John Doe
                | &nbsp;thanks&nbsp;
                strong Mr. Jones
            .sn-text-body
                | from George Washington Middle School
                br
                | In Philipedphia, PA
        .col-sm-4
            img(src=static('images/jessica_video_thumb.png') data-toggle="modal" data-target="#videomodal").sn-image
            .sn-text-header
                strong John Doe
                | &nbsp;thanks&nbsp;
                strong Mr. Jones
            .sn-text-body
                | from George Washington Middle School
                br
                | In Philipedphia, PA
    .row
        .col-sm-6.col-sm-offset-3.sn-text-center.sn-footer
            h6  VIEW ALL THANK YOU NOTES >
