include video-story-modal
.container
    .row
        .col-sm-6.col-sm-offset-3.sn-text-center.sn-header
            h3 Thank You Notes Shared By Others
    .row.sn-half-row
        - var sampleStories = [];
        - sampleStories.push({img: 'jessica_video_thumb.png', name: 'John Doe', teacher: 'Mr. Jones', school: 'George Washington Middle School', city: 'Philadelphia', state: 'PA'})
        - sampleStories.push({img: 'jessica_video_thumb.png', name: 'John Doe', teacher: 'Mr. Jones', school: 'George Washington Middle School', city: 'Philadelphia', state: 'PA'})
        - sampleStories.push({img: 'jessica_video_thumb.png', name: 'John Doe', teacher: 'Mr. Jones', school: 'George Washington Middle School', city: 'Philadelphia', state: 'PA'})
        each story in sampleStories
            .col-sm-4
                img.sn-image(src=static('images/'+story.img) data-toggle="modal" data-target="#videomodal")
                .sn-text-header
                    strong= story.name
                    | &nbsp;thanks&nbsp;
                    strong= story.teacher
                    != '&nbsp;from ' + story.school + ' in ' + story.city + ', ' + story.state