#full-message.modal.fade(tabindex='-1', role='dialog', aria-labelledby='full-message-modal', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close.modal-close(type='button', data-dismiss='modal', aria-hidden='true')
                    i.fa.fa-2x.fa-times-circle
                .modal-title
                    .modal-header-title 
            .modal-body.full-message-modal-body
                p.full-message.postcard-salutation
                p.full-message.postcard-body
                p.full-message.postcard-closing Sincerely,
                p.full-message.postcard-signature
