
div
    button.btn.share-btn.left.btn-twitter.js-share-twitter
        i.fa.fa-twitter &nbsp; Tweet
    button.btn.share-btn.middle.btn-facebook.js-share-facebook
        i.fa.fa-facebook &nbsp; Post
    button.btn.share-btn.middle.btn-google-plus.js-share-google-plus
        i.fa.fa-google-plus &nbsp; Post
    button.btn.share-btn.right.btn-email.js-share-email
        i.fa.fa-envelope &nbsp; Email
