.row
    .col-xs-3.col-sm-3
        button.btn.share-btn.left.btn-twitter.share-twitter
            i.fa.fa-twitter &nbsp; Tweet
    .col-xs-3.col-sm-3
        button.btn.share-btn.middle.btn-facebook.share-facebook
            i.fa.fa-facebook &nbsp; Post
    .col-xs-3.col-sm-3
        button.btn.share-btn.middle.btn-google-plus.share-google-plus
            i.fa.fa-google-plus &nbsp; Post
    .col-xs-3.col-sm-3
        button.btn.share-btn.right.share-email
            i.fa.fa-envelope &nbsp; Email
