
.share-postcard-container.btn-facebook
    .share-postcard-header
        h3
            i.fa.fa-facebook
            &nbsp; Share on Facebook
    .share-postcard-body
        textarea.form-control.js-facebook-postcard-text(rows=3).
            Default post goes here.
    .share-postcard-footer
        button.btn.btn-default.btn-cta POST TO WALL
