
.btn-group
    button.btn.btn-share.btn-twitter.share-twitter
        i.fa.fa-twitter &nbsp; Tweet
    button.btn.btn-share.btn-facebook.share-facebook
        i.fa.fa-facebook &nbsp; Post
    button.btn.btn-share.btn-google-plus.share-google-plus
        i.fa.fa-google-plus &nbsp; Post
    button.btn.btn-share.share-email
        i.fa.fa-envelope &nbsp; Email
