
.share-postcard-container.btn-email
    .share-postcard-header
        h3
            i.fa.fa-envelope
            |  Email Your Friends!
    .share-postcard-body
        button.btn.btn-default.btn-cta.js-email-button 
            |  Send An Email Now &nbsp;
            i.fa.fa-play
        p.added-padding Or copy and paste the text below into an email:
        textarea.form-control.fixed-textarea.js-email-postcard-text(rows=7).
    .share-postcard-footer