
.share-postcard-container.share-bottom-container.btn-twitter
    .share-postcard-header
        h3
            i.fa.fa-twitter
            &nbsp; Tweet!
    .share-postcard-body
        textarea.form-control.fixed-textarea.js-twitter-postcard-text(rows=2, maxlength=140).
            We've all been students. Let's take a min to thank a teacher who helped us become who we are today via @ThankAMentor. Check out http://thank-a-teacher.org
    .share-postcard-footer
        button.btn.btn-default.btn-cta.js-twitter-button TWEET