
.share-postcard-container.btn-twitter
    .share-postcard-header
        h3
            i.fa.fa-twitter
            &nbsp; Tweet!
    .share-postcard-body
        textarea.js-twitter-postcard-text(placeholder='Default tweet goes here.', rows=3)
    .share-postcard-footer
        button.btn.btn-default.btn-cta TWEET
