.row
    .col-xs-3.col-sm-3
        button.btn.share-btn.left.btn-twitter.js-share-twitter
            i.fa.fa-twitter 
            &nbsp; Tweet
    .col-xs-3.col-sm-3
        button.btn.share-btn.middle.btn-facebook.js-share-facebook
            i.fa.fa-facebook
            &nbsp; Post
    .col-xs-3.col-sm-3
        button.btn.share-btn.btn-google-plus.js-share-google-plus
            i.fa.fa-google-plus 
            &nbsp; Post
    .col-xs-3.col-sm-3
        button.btn.share-btn.btn-email.js-share-email
            i.fa.fa-envelope
            &nbsp; Email
