.row.thank-you-panel.row-center-vert
    .col-sm-4.col-sm-offset-3.col-center-vert
      p Thank your favorite teacher, coach, or mentor today!
    .col-sm-2.col-center-vert
      button.btn.btn-find.button-orange
        | Send a Thank You Note
p(style='text-align:center')
    a(href='/') Back To Home