.row.thank-you-panel.row-center-vert
    .col-sm-8.col-sm-offset-2.col-center-vert.text-center.thank-you-row
        p
            strong Thank your favorite teacher, coach, or mentor today!
            a.back-text(href='/')
                button.btn.btn-find.btn-cta.button-thank
                    | SEND YOUR THANK YOU NOTE
.row
    .col-sm-6.col-sm-offset-3.text-center.back-row
        p
            a.back-text(href='/')
                i.fa.fa-angle-left
                strong 
                    |  BACK TO HOME
