
mixin step-number(n)
    .row
        each step, index in ['Your Info', 'Teacher Info', 'Thank You Note']
            - var text = (index + 1) + '. ' + step.toUpperCase()
            if index+1 == n
                .step-number.active.col-xs-12.col-sm-4= text
            else
                .step-number.col-xs-12.col-sm-4= text

mixin next-button(text)
    .row
        .col-xs-12
            button.btn.btn-default.btn-next= text

.row
    .col-xs-12
        h1.text-center.
            Take 60 Seconds to Thank that Special Teacher, Coach or Mentor!
block step-content

