extends ../layout
block content
    .row
        .col-xs-12
            block step-content
        .col-xs-12
            include about
    .row
        .col-xs-12
            include how-it-works
    
    include share-button-row
    include sample-notes
