extends step

block step-content
    +step-number(1)
    form(role='form')
        fieldset
            legend Who do you want to thank?
            .row
                .col-xs-12
                    input.js-teacher-field.form-control(type='text', name='teacher-name', placeholder='Name of teacher, coach, or mentor')
        fieldset
            legend What is your name and email address (so we can include it in your note)?
            .row
                .col-xs-6
                    input.js-name-field.form-control(type='text', name='name', placeholder='Your Name')
                .col-xs-6
                    input.js-email-field.form-control(type='email', name='email', placeholder='Your Email')
            .row
                .col-xs-12
                    +next-button('Next Step')