#videomodal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='videomodallabel', aria-hidden='true')
    .modal-dialog.vidmodal-dialog
        .modal-content.vidmodal-content
            .modal-header.vidmodal-header
                button.close.vidmodal-close(type='button', data-dismiss='modal', aria-hidden='true')
                    i.fa.fa-2x.fa-times-circle
                .vidmodal-title.modal-title 
                    .vidmodal-header-title
                        strong John Doe
                        | &nbsp;thanks&nbsp;
                        strong Mr. Jones
                    .vimodal-header-body
                        | from George Washington Middle School in Philipelphia, PA
            .vidmodal-body.modal-body
                .video-container
                    iframe(src='http://www.youtube.com/embed/ajMsBQqcA_U', frameborder='0', allowfullscreen='allowfullscreen')
            .modal-footer.vidmodal-footer
                .col-sm-8.col-sm-offset-2
                    include share-button-row