#review-notice.row.blue-panel
    .row.row-center-vert
        .col-sm-10.col-center-vert
            span Thanks for your note! We have received it, but won't send it just yet. We're still putting the finishing touches on the site!
        .col-sm-1.col-center-vert
            button#done.btn.btn-find.button-orange Done!
br
.row
    .col-xs-12
        include postcard
.row
    .col-xs-12.full-width-center
        h2 Help us spread the word! Encourage your friends to thank more teachers.
.row
    .col-xs-12
        center
            .form-inline(style='margin-right:10px;')
                .btn-group#postcard-share
                    a.btn.btn-lg.btn-twitter.share-twitter.share
                        i.fa.fa-twitter
                        | &nbsp; Tweet
                    a.btn.btn-lg.btn-facebook.share-facebook.share
                        i.fa.fa-facebook
                        | &nbsp; Post
                    a.btn.btn-lg.btn-google-plus.share-google-plus.share
                        i.fa.fa-google-plus
                        | &nbsp; Share
                    a.btn.btn-lg.share-email.share
                        i.fa.fa-envelope
                        | &nbsp; Email