#review-notice.row.blue-panel
    .row: span Thank you for recording your message!
            
br
.row.row-center-vert
    .col-md-5.col-xs-12.col-center-vert
        center
            .form-inline(style='margin-right:10px;')
                .btn-group#postcard-share
                    a.btn.btn-lg.btn-twitter.share-twitter.share
                        i.fa.fa-twitter &nbsp; Tweet
                    a.btn.btn-lg.btn-facebook.share-facebook.share
                        i.fa.fa-facebook &nbsp; Post
                    a.btn.btn-lg.btn-google-plus.share-google-plus.share
                        i.fa.fa-google-plus &nbsp; Share
                    a.btn.btn-lg.share-email.share
                        i.fa.fa-envelope &nbsp; Email
        
    .col-md-2.col-xs-1.col-center-vert
        center
            button#done.btn.btn-lg.button-orange Done!

center
    h2 Help us spread the word! Encourage your friends to thank more teachers.

.row
    