extends layout

block content
    include widgets/static-thankyou-header
    .container
        h2 Page Not Found
        p We weren't able to access the page you're looking for. Please check the address for any typos and try again.
