extends layout

block scripts
    script(src=static('javascripts/index.js'))

block content
    .container.padded-container
        h2 About Us
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at felis at elit fermentum vehicula eget a ligula. Praesent vitae diam volutpat, condimentum odio a, porta mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam magna felis, tincidunt quis scelerisque at, tempor id enim. Sed et massa at lacus ultrices eleifend id ut velit. Sed varius, sem eget ultricies pulvinar, tellus dui consectetur libero, eget tempor lacus magna sit amet tortor. Nunc volutpat pellentesque metus. Integer volutpat egestas velit, vel scelerisque neque venenatis vitae. Donec mollis vitae diam eu tempus. Aenean erat urna, vulputate eget velit eget, ultrices dictum nulla. Aliquam vitae imperdiet metus. Duis eu elit libero. Nunc eu dui egestas leo tempus faucibus sed at lorem. Quisque placerat odio vel dui rutrum sodales. Cras varius porttitor est, in ultrices dolor faucibus sagittis. Praesent condimentum tellus interdum massa condimentum egestas.
        p Nunc fermentum eleifend dui, vel aliquam turpis. Aenean est elit, vulputate at turpis ut, gravida convallis turpis. Vestibulum a nibh non ante sollicitudin faucibus sit amet id dui. Proin vel eros dui. Sed dapibus in felis ac scelerisque. Cras consectetur gravida nisl bibendum scelerisque. Vestibulum pretium fringilla justo non consectetur. Donec volutpat felis quis ornare cursus. In hac habitasse platea dictumst. Duis convallis bibendum libero mattis consectetur. Duis vulputate, elit at lobortis aliquam, ligula nisl imperdiet ante, sed pellentesque dui elit id lacus. Pellentesque laoreet facilisis eros vel gravida. Nunc adipiscing a eros eu faucibus.