extends layout

block content
    include widgets/static-thankyou-header
    .container
        h2 About Thank a Teacher
        p Thank a Teacher began as a class project by six members of the class of 2014 at Olin College. We wanted to find a way to spread a positive message about the future of education in America to as many people as possible. As part of our senior capstone project in engineering, we brought all of our design knowledge and computer science skills to this challenging problem. We are excited to see our experiment take off!
        h2 About Olin College
        p Olin College is a small engineering school in Needham, MA that is newly entering its second decade. Olin's mission is to produce excellent engineers while developing innovations in engineering education and sharing them with other institutions.
        h2 Meet the Team
            h3 Chase Kernan: Engineering with Computational Physics
            p I'm an Olin senior studying engineering with a concentration in computational physics. I've had a variety of experiences ranging from software development at Microsoft to research in computational biology and image processing. Lately, I've been working on gravitational wave detection with the LIGO data analysis team at Caltech, focusing on new visualization techniques. I'm excited to be working on developing software for a cause I believe in and I'm thrilled to be part of this team. Like a true Coloradan, I enjoy a little hiking and snowboarding on the side.
            h3 Chelsea Nayback: Bioengineering
            p I'm a senior studying bioengineering with a focus on cellular engineering. For the past two summers, I researched cancer cells - changing their DNA and looking for a target protein to induce their death. I enjoy laboratory work and trying to increase our knowledge of the world. I'm excited to design for Thank a Teacher because of its potential to benefit the world. When I'm not studying, I like to read, play soccer, and solve puzzles.
            h3 Graham Hooton: Systems Engineering
            p I study systems engineering, though I plan to be a high school physics teacher after graduating from Olin. At Olin, I guide the first years as an RA, lead the team that coordinates student activities, and organize community-building events for the entire college. I also run design challenges for high school seniors and college students and have helped K-12 teachers empower their students as innovative thinkers. I love to learn languages, travel, and make imaginative costumes.
            h3 Julian Ceipek: Engineering with Computing
            p Originally from Austria, I'm a bilingual Olin senior with experience at Codecademy. There, I helped design and test novel interfaces and curricula for teachers and learners. My core philosophy is that technology should never be divorced from the people who use it; I bring my background with computing in the context of user experience design to this project. I love learning, reading, and crafting experimental games.
            h3 Juliana Nazaré: Electrical and Computer Engineering
            p Born and raised in Washington DC, I'm an Olin senior studying electrical and computer engineering. For the past year, I have been working part-time at Startup Institute on the rapid development of technical curricula. This past summer, I took a break from Startup Institute to work in the Human Language Technology Group at MIT Lincoln Laboratory conducting research on characterizing people based on statistical topic clustering. As a student who was disruptively shuffled between two elementary schools and two high schools due to school regulations, I am excited to help catalyze change in K-12 education.
            h3 Sebastian Dziallas: Engineering with Computing
            p I'm an international student from Germany studying engineering with a concentration in computing at Olin. I'm currently working on using a narrative approach to explore the students' perspectives of their overall learning experience. In the past, I've coordinated various open source communities and designed workshops for faculty. As the project manager for this team, I'm looking forward to an exciting semester that leverages our skills and makes a significant contribution to start a movement surrounding K-12 education. When I'm not working on my research, I enjoy watching independent movies and travelling the world.
