.modal.fade(id="finished-modal" tabindex="-1" role="dialog")
    .modal-dialog
        .modal-content
          .modal-body
            row
              h5
                strong Thank you! 
                | Check your inbox for a copy of your postcard. We will be sending the postcard to your teacher shortly.
              br
            row
              #share-text
                center
                  h5(style="color: black")
                    strong Help us thank more teachers
                  textarea(style="border: 1px solid gray; min-height: 50px; min-width: 500px;")
                .pull-right(style="padding-right: 55px; padding-top: 5px;")
                  input(type='checkbox', name='my-checkbox', data-on-color='info', checked='checked' data-label-text='<i class="fa fa-twitter"></i>')
                  &nbsp;
                  input(type='checkbox', name='my-checkbox', checked='checked' data-label-text='<i class="fa fa-facebook"></i>')
            row
              br
              br
              center
                a.btn.btn-block(role="button" style="width: 80%")#share
                  strong Share
script.
  $("[name='my-checkbox']").bootstrapSwitch();