extends layout

block content
    .container
        script(src='/javascripts/home.js')

    .row.movie-container
        .col-md-10.col-md-offset-1#frontdisplay
            .col-md-6
                .row
                    include seed-movie
                    br
                    .share-buttons
                        a.btn.share-twitter.button-green(role="button")
                            i.fa.fa-twitter &nbsp;&nbsp;
                            | Tweet
                        a.btn.share-facebook.button-green(role="button")
                            i.fa.fa-facebook &nbsp;&nbsp;
                            | Post
                        a.btn.share-google-plus.button-green(role="button")
                            i.fa.fa-google-plus &nbsp;&nbsp;
                            | Share
                        a.btn.share-email.button-green(role="button")
                            i.fa.fa-envelope &nbsp;&nbsp;
                            | Email
            .col-md-5.col-md-offset-1
                h2#tagline
                    strong We have all been students.
                h3#tagline Let's take the time to thank the people who helped us become who we are today.
                br
                a.btn.btn-lg(role="button" href="/make-postcard")#saythanks
                    strong Send A Note To Your Teacher
    include story-carousel
