extends layout

block content
    .row.movie-container
        .col-md-6.col-md-offset-3
            include seed-movie
    center
        h3
            strong You are who you are because your teachers cared.
    include story-carousel
    //include schools/find
    include postcard-prompt
    include postcard
