extends layout

block scripts
    script(src=static('javascripts/index.js'))

block content
    .container
        .row
            #step-container.col-xs-12.col-sm-8
                #step-1
                    include widgets/step-1
            .col-xs-12.col-sm-4
                include widgets/about
    include widgets/how-it-works
     
    include widgets/share-button-row
    include widgets/sample-notes

#step-2(display='none')
    include widgets/step-2
#step-3(display='none')
    include widgets/step-3
