extends layout

block content
    script(src='/javascripts/home.js')

    .row.movie-container
        .col-md-10.col-md-offset-1#frontdisplay
            .col-md-5
                .row
                    include seed-movie
                    br
                    a.btn.share-twitter.displaysharebutton(role="button")
                        i.fa.fa-twitter &nbsp;&nbsp;
                        | Tweet
                    a.btn.share-facebook.displaysharebutton(role="button")
                        i.fa.fa-facebook &nbsp;&nbsp;
                        | Post
                    a.btn.share-google-plus.displaysharebutton(role="button")
                        i.fa.fa-google-plus &nbsp;&nbsp;
                        | Share
            .col-md-5.col-md-offset-2
                h3#tagline
                    strong We have all been students.
                p Let's take the time to thank the people who helped us become who we are today.
                br
                h4
                    strong Join the 12,938 others who have thanked their teachers.
                br
                br
                a.btn-warning.btn-lg(role="button" href="/make-postcard")#saythanks
                    strong Send A Note To Your Teacher
    include story-carousel
