extends layout

block content
    script(src='/javascripts/home.js')

    .row.movie-container
        .col-md-10.col-md-offset-1#frontdisplay
            .col-md-6
                include seed-movie
                br
                a.btn-default(role="button")#displaysharebutton
                    i.fa.fa-facebook &nbsp;&nbsp;
                    | Share on Facebook
                a.btn-default(role="button")#displaysharebutton
                    i.fa.fa-twitter &nbsp;&nbsp;
                    | Share on Twitter
            .col-md-4.col-md-offset-2
                h4#tagline
                    strong You are who you are because your teachers cared.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet consectetur diam, eu blandit sapien. Nam id turpis vel sapien ultricies rutrum nec eget nulla. Mauris magna sem, convallis nec arcu id, consequat scelerisque risus. Nunc quis tellus vel quam vestibulum tempus volutpat at diam. Aenean rhoncus ipsum vel erat semper, posuere hendrerit eros commodo. Vivamus at tortor vel nisi luctus rhoncus. 
                br
                a.btn-warning.btn-lg(role="button" href="/make-postcard")#saythanks
                    strong Send A Note To Your Teacher
    include story-carousel
