script(src='/javascripts/postcard.js')

.row
    .col-md-8.col-md-offset-2
        .well.postcard-container
            .col-md-7.content
                #spacer
                //.upload
                //    img.img-content(src='/images/upload.png')        
                //    p.upload-text Upload Video
                span.text-content 
                    | I want to thank 
                    span.underline(contenteditable)#teacher_name Mr. Sharp
                    |  for being an amazing  
                    span.underline(contenteditable)#teacher_role math teacher
                    | . 
                    br
                    br
                    span.underline(contenteditable)#freetext
                            | I remember a lesson he gave in 10th grade about how we could use the 
                            | vector math he taught us in math and apply it to engineering. That was
                            | one of the moments that influenced me to study engineering in college.
                    br
                    br
                    .row
                        .col-md-5
                            button.btn.btn-default#video_button(type='button')
                                i.fa.fa-3x.fa-youtube-square 
                                br
                                | Include an optional
                                br
                                | video message
                        .col-md-7
                            span#signature
                                p.pull-right
                                    | Thanks for your hard work!
                                span.underline.pull-right(contenteditable)#author_name Juliana Nazaré
                                span.underline.pull-right(contenteditable)#author_role In your 2008 pre-calc class
                    .row
                        br
                        .col-md-12     
                            span.checkbox#checkbox_span 
                                label
                                    input#checkbox_input(type='checkbox')
                                    p Keep my name anonomyous on ThankATeacher.org
            .col-md-5.address
                .row
                    .col-md-9
                        #return_address(style="font-size: 14px")
                            span.underline.full-width(contenteditable)#return_name Juliana Nazaré
                            span.underline.full-width(contenteditable)#return_email jules.nazare@gmail.com
                    .col-md-3
                        #stamp_div.pull-right
                            img.img-thumbnail.pull-right(src='http://placehold.it/80x100')
                .row
                    .col-md-12
                        #address_well
                            span.underline.full-width(contenteditable)#mailto_name Mr. Sharp
                            span.underline.full-width(contenteditable)#mailto_role 10th grade math teacher
                            span.underline.full-width(contenteditable)#mailto_school South Lakes High School
                            span.underline.full-width(contenteditable)#mailto_street 11400 South Lakes Dr.
                            span.underline.full-width(contenteditable)#mailto_city_state Reston, VA 20191
.row
    .col-md-12#send_button_div
        button.btn.btn-success.btn-lg(type='submit' id="send_button") Send Postcard
        br
        br


        
