hr
.row
	.col-md-10.col-md-offset-1
		p#prompt-text 
			| There has been a lot of negative press about educators. We are here to change that conversation. Send a note to someone (teachers, coaches, mentors, etc.) who impacted your education. We will give you the oppertunity to share your note with them.
hr