script(src='/javascripts/postcard.js')

.well.postcard-container
    .col-sm-8.content
        #spacer
        .upload
            img.img-content(src='/images/upload.png')        
            p.upload-text Upload Video
        span.text-content 
            | I want to thank 
            span.underline(contenteditable) Mr. Myron Blosser
            |  for being an amazing  
            span.underline(contenteditable) biology teacher
            | . Much text wow much text wow much text wow much text wow much text wow Much text wow much text wow much text wow Much text wow much text wow much text wow Much text wow much text wow much text wow Much text wow much text wow much text wow Much text wow much text wow much text wow Much text wow much text wow much text wow Much text wow much text wow much text wow Much text wow much text wow much text wow Much text wow much text wow much text wow Much text wow much text wow much text wow Much text wow much text wow much text wow
    .col-sm-4.address
        div.stamp-row
            img.stamp(src='/images/stamp.png')
        

