.video-container(style='padding-bottom: 56.25%')
    iframe(width="640", height="360", 
           src="//www.youtube.com/embed/rArJOGicnHU?showinfo=0&modestbranding=1&controls=1&rel=0&wmode=transparent", 
           frameborder="0", allowfullscreen)
