#share-modal.modal.fade(role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(data-dismiss='modal', aria-hidden='true') &times;
        h4.modal-title Share
      #share-modal-body.modal-body
