
#story-carousel.row
    .col-sm-6.col-md-3
        a.thumbnail
            img(src='http://placehold.it/300x200')
    .col-sm-6.col-md-3
        a.thumbnail
            img(src='http://placehold.it/300x200')
    .col-sm-6.col-md-3
        a.thumbnail
            img(src='http://placehold.it/300x200')
    .col-sm-6.col-md-3
        a.thumbnail
            img(src='http://placehold.it/300x200')
