br
.panel.panel-default.js-story-carousel
    .panel-heading
        h3.panel-title
            strong Explore stories others have told
    .panel-body
        .col-sm-6.col-md-3
            a.thumbnail(data-youtube-id='RuRZY6mO_4k')
                img(src='/images/steven_video_thumb.png' height="200" width="300")
        .col-sm-6.col-md-3
            a.thumbnail(data-youtube-id='ajMsBQqcA_U')
                img(src='/images/jessica_video_thumb.png' height="200" width="300")
        .col-sm-6.col-md-3
            a.thumbnail(data-youtube-id='qw9Pi4IlwZI')
                img(src='/images/yancy_video_thumb.png' height="200" width="300")
        .col-sm-6.col-md-3
            a.thumbnail(data-youtube-id='SXvKxiiq1UI')
                img(src='/images/toby_video_thumb.png' height="200" width="300")

//- XXX This used to have aria-labelledby='story-modal', but there is no label (title) for the modal, so not needed?
//- See http://getbootstrap.com/javascript/#modals 'Make modals accessible'
.js-story-modal.modal.bs-modal-lg.fade(role='dialog', tabindex='-1', aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', style='margin-top:-10px') &times;

            .modal-body
                .row
                    .col-md-12
                        .video-container.video-container-small
                            iframe(src="", frameborder="0", allowfullscreen)
