br
.panel.panel-default.js-story-carousel
    .panel-heading
        h3.panel-title
            strong Explore stories others have told
    .panel-body
        .col-sm-6.col-md-3
            a.thumbnail(data-youtube-id='RuRZY6mO_4k', data-title='Steven thanks Dr. Moody')
                img(src=static('images/steven_video_thumb.png') height="200" width="300")
        .col-sm-6.col-md-3
            a.thumbnail(data-youtube-id='ajMsBQqcA_U', data-title='Jessica thanks Mrs. Wilson')
                img(src=static('images/jessica_video_thumb.png') height="200" width="300")
        .col-sm-6.col-md-3
            a.thumbnail(data-youtube-id='qw9Pi4IlwZI', data-title='Yancy thanks Ms. Stewart')
                img(src=static('images/yancy_video_thumb.png') height="200" width="300")
        .col-sm-6.col-md-3
            a.thumbnail(data-youtube-id='SXvKxiiq1UI', data-title='Toby thanks Mr. Winston')
                img(src=static('images/toby_video_thumb.png') height="200" width="300")

.js-story-modal.modal.bs-modal-lg.fade(role='dialog', tabindex='-1', aria-labelledby='story-title', aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4.modal-title.js-story-modal__title#story-title Thanking a Teacher

            .modal-body
                .row
                    .col-md-12
                        .video-container.video-container-small
                            iframe(src="", frameborder="0", allowfullscreen)
