br
.panel.panel-default#story-carousel
    .panel-heading
        h3.panel-title
            strong Explore stories others have told
    .panel-body
        .col-sm-6.col-md-3
            a.thumbnail(data-youtube-id='RuRZY6mO_4k')
                img(src='/images/steven_video_thumb.png' height="200" width="300")
        .col-sm-6.col-md-3
            a.thumbnail(data-youtube-id='ajMsBQqcA_U')
                img(src='/images/jessica_video_thumb.png' height="200" width="300")
        .col-sm-6.col-md-3
            a.thumbnail(data-youtube-id='qw9Pi4IlwZI')
                img(src='/images/yancy_video_thumb.png' height="200" width="300")
        .col-sm-6.col-md-3
            a.thumbnail(data-youtube-id='SXvKxiiq1UI')
                img(src='/images/toby_video_thumb.png' height="200" width="300")

#story-modal.modal.bs-modal-lg.fade(role='dialog', tabindex='-1', aria-labelledby='story-modal', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', style='margin-top:-10px') &times;

            .modal-body
                .row
                    .col-md-12
                        .video-container.video-container-small(style='padding-bottom: 56.25%')
                            iframe(width="540", height="240", src="", 
                                   frameborder="0", allowfullscreen)
                   // .col-md-4
                   //     h3 
                   //         strong First, Last Name
                   //     h6
                   //         strong School Attended
                   //     h6#fadedtext
                   //         strong City, State
                   //     br
                   //     p "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet consectetur diam, eu blandit sapien. Nam id turpis vel sapien ultricies rutrum nec eget nulla." 
