script(src='/javascripts/seed-carousel.js')

.row
    center
        br
        a.btn.btn-lg(role="button" href="/make-postcard")#saythanks
            strong Say Thanks!
        br
        br
#story-carousel.row
    .col-sm-6.col-md-3
        a.thumbnail
            img(src='http://img.youtube.com/vi/xFJEz6yFqog/0.jpg' height="200" width="300")
    .col-sm-6.col-md-3
        a.thumbnail
            img(src='http://img.youtube.com/vi/8fwauu5bw9w/0.jpg' height="200" width="300")
    .col-sm-6.col-md-3
        a.thumbnail
            img(src='http://img.youtube.com/vi/5-MZAXKk7Bw/0.jpg' height="200" width="300")
    .col-sm-6.col-md-3
        a.thumbnail
            img(src='http://img.youtube.com/vi/5jc9ln5Fk2k/0.jpg' height="200" width="300")

#story-modal.modal.bs-modal-lg.fade(role='dialog', tabindex='-1', aria-labelledby='story-modal', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4.modal-title#story-modal-title Story

            .modal-body
                .video-container(style='padding-bottom: 56.25%')
                    iframe(width="640", height="360", src="", 
                           frameborder="0", allowfullscreen)