extends layout
block scripts
    script(src=static('javascripts/submitted.js'))
block content
    #fb-root
    .container.background-outside-container
        .row.background-container
            .submitted-header
                h1.text-center.white-text.
                    You&#8217;re almost done!
                h3.text-center.white-text.
                    Your thank you note has been submitted. Now tell your friends!
            .row
                .col-xs-12.col-md-6.col-md-offset-1
                    include widgets/full-postcard
                    include widgets/share-postcard-tweet
                .col-xs-12.col-md-4
                    include widgets/share-postcard-email
                    include widgets/share-postcard-facebook
