extends layout
block scripts
    script(src=static('javascripts/submitted.js'))
block content
    .container.background-outside-container
        .row.background-container
            h2.text-center.white-text.
                You're almost done!
            h3.text-center.white-text.
                Your thank you note has been submitted. Now tell your friends!

            .row
                .col-xs-12.col-md-6.col-md-offset-2
                    include widgets/full-postcard
                    include widgets/attach-video
                .col-xs-12.col-md-2
                    include widgets/share-postcard-facebook
                    include widgets/share-postcard-tweet
                    include widgets/share-postcard-email
