extends layout
block scripts
    script(src=static('javascripts/submitted.js'))
block content
    h1.text-center.
        You're almost done!
    h2.text-center.
        Your thank you note has been submitted. Now tell your friends!

    .row
        .col-xs-12.col-md-7
            include widgets/full-postcard
            include widgets/share-postcard-email
        .col-xs-12.col-md-5
            include widgets/share-postcard-facebook
            include widgets/share-postcard-tweet
