extends layout
block scripts
    script(src=static('javascripts/thank-you.js'))
block content
    .container.background-outside-container
        .row.background-container
            include widgets/postcard-viewed-by-others
            include widgets/static-thankyou-header
