extends layout

block scripts
    script(src=static('javascripts/index.js'))

block content
    include widgets/static-thankyou-header
    .container
        h2 You've been unsubscribed!
        p We're sorry to see you go. We will not send any future thank you notes or notifications your way. We hope you join us again in the future.
