
script(src='/javascripts/lib/typeahead.bundle.min.js')
script(src='/javascripts/schools/find.js')

#find-by-city.panel.panel-default
    .panel-heading Find by State and City
    .panel-body
        form.form-horizontal(role='form')
            .form-group
                .col-sm-3
                    select#state-select.form-control(name='state')
                .col-sm-9
                    input#city-input.form-control.twitter-typeahead(type='text', name='city', placeholder='Select a state first...', autocomplete='off', disabled)
            .form-group
                .col-sm-12
                    input.form-control#find-by-city-school.twitter-typeahead(type='text', name='school', placeholder='Select a state and city first...', disabled, autocomplete='off')


#find-by-zip.panel.panel-default
    .panel-heading Find by ZIP Code
    .panel-body
        form.form-horizontal(role='form')
            .form-group
                .col-sm-2
                    input.form-control#zip(type='text', maxlength='5', name='zip', placeholder='ZIP Code')
                .col-sm-10
                    input.form-control#find-by-zip-school(type='text', name='school', placeholder='Select a ZIP code first...', disabled, autocomplete='off')

        