
#find-by-city.panel.panel-default
    .panel-heading Find by State and City
    .panel-body
        .input-group
            .input-group-btn
                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') State <span class="caret"></span>
                ul.dropdown-menu
                    li
                        a(href='#') AZ
                    li
                        a(href='#') CO
            input.form-control(type='text', placeholder='City')


#find-by-zip.panel.panel-default
    .panel-heading Find by ZIP Code
    .panel-body
        