extends ../layout
block content
  link(href='/stylesheets/summernote.css', rel='stylesheet')
  link(href='/stylesheets/summernote-bs3.css', rel='stylesheet')
  script(src='/javascripts/lib/summernote.min.js')
  script(src='/javascripts/prompts.js')

  .container
    h1 Prompts
    div(style="width: 100%")
      for prompt in prompts
        div(style="width: 100%")
         != prompt.html
        hr

    #editor
    div(style="float: left; padding-top: 0.5em")
      button.btn.btn-lg.btn-primary(id='create') Create
      button.btn.btn-lg.btn-warning(id='clear', style="margin-left: 0.5em") Clear
        
