.about-left-margin{
	margin-left: 20px;
	margin-top: 30px;
}

.how-it-works-row{
	margin-left: 20%;
}

.background-container{
	min-height: 550px;
}

.how-it-works-container {
    .sans-bold-font();
    background-color: @blue-light-color;
    color: @white-color;
    text-decoration: none;
    font-size: @small-font;
    padding: 10px;
}

.how-it-works-row{
    display:table;
    min-height: 60px;
}

.vert-center{
    display:table-cell;
    vertical-align:middle;
    float:none;
}
