p.question-text(style='margin-left:0;') Enter your information so we can keep you in the loop. Once you submit your information, we will process your thank you note.
.row.question-form
    .col-sm-4.col-sm-offset-1.col-center-vert
        .question-label(style='float:right')
            label.text-right Name
    .col-sm-4.col-center-vert
        input.answer.form-control(type='text', placeholder='', maxlength=50, name='authorName')
br
.row.question-form
    .col-sm-4.col-sm-offset-1.col-center-vert
        .question-label(style='float:right')
            label.text-right Email Address
    .col-sm-4.col-center-vert
        input.answer.form-control(type='text', placeholder='', maxlength=100, name='authorEmail')
    .col-sm-2.col-center-vert
        button.btn.btn-next.button-orange Submit