p.question-text(style='margin-left:0;') Now tell us a bit about the impact they had on you. Is there an experience or interaction that stands out to you? Keep in mind that you are addressing them in your note.
.row.question-form
    .col-sm-12
        textarea#answer.answer.form-control(rows=4, placeholder="", maxlength=1000)
br
.row.question-form
    .col-sm-2.col-sm-offset-10
        div(style='float:right')
            button.btn.btn-next.button-green Next