br
.row.question-form
    .col-sm-10.col-sm-offset-1
        .question-label(style='float:left;')
            label Who do you want to thank?
br
.row.question-form
    .col-sm-10.col-sm-offset-1
        input.answer.form-control(type='text', name='who', placeholder='Mrs. Smith', maxlength=32)
br
br

.row.question-form
    .col-sm-10.col-sm-offset-1
        .question-label(style='float:left;')
            label Where did they work?
br
.row.row-center-vert.question-form
    .col-sm-2.col-sm-offset-1.col-center-vert
        select.answer.form-control(name='state')
    .col-sm-8.col-center-vert.typeahead-in-blue
        input.answer.form-control(type='text', name='city')
br
.row.question-form
    .col-sm-8.col-sm-offset-1.col-center-vert.typeahead-in-blue
        input.answer.form-control(type='text', name='school-name')
    .col-sm-2.col-center-vert
        button.text-right.btn.btn-next.button-green Next
