p.question-text Tell us a little more about them.
.row.question-form
    .col-sm-10.col-sm-offset-1
        .question-label(style='float:left;')
            label Where did they work?
.row.row-center-vert.question-form
    .col-sm-2.col-sm-offset-1.col-center-vert
        select#state.answer.form-control
    .col-sm-8.col-center-vert.typeahead-in-blue
        input#city.answer.form-control(type='text')
br
.row.question-form
    .col-sm-10.col-sm-offset-1.typeahead-in-blue
        input#school.answer.form-control(type='text')                                   

br
br

.row.question-form
    .col-sm-10.col-sm-offset-1
        .question-label(style='float:left;')
            label And when did you interact with them?
.row
    .col-sm-10.col-sm-offset-1
        p.question-text(style='margin-left:0;') If you don't recall exactly when, just give us an estimate.
.row.question-form.row-center-vert
    .col-sm-4.col-sm-offset-1.col-center-vert
        input#whenAnswer.answer.form-control(type='text', placeholder='May 1999', maxlength=32)
    .col-sm-2.col-center-vert
        button.btn.btn-next.button-green Next