.row.row-center-vert.question-form
    .col-sm-4.col-sm-offset-1.col-center-vert
        .question-label(style='float:right')
            label.text-right(for='answer') Who do you want to thank?
    .col-sm-4.col-center-vert
        input#answer.answer.form-control(type='text', placeholder='Mrs. Smith', maxlength=32)
    .col-sm-2.col-center-vert
        button.btn.btn-next.button-green Next
br
p.question-text We'll ask you to describe a scene or moment in your life that stands out as a significant interaction with them.
