
.how-it-works {
    padding: 10px;
    background-color: @blue-light-color;
    color: @white-color;
    text-decoration: none;
    font-size: @small-font;
}

@how-it-works-icon-width: 40px;
@how-it-works-icon-height: 33px;
.how-it-works-icon {
    float: left;
    width: @how-it-works-icon-width;
    height: @how-it-works-icon-height;
}

.how-it-works-text {
    margin-left: @how-it-works-icon-width+5px;
    padding: 0;
    .vert-center-container(@how-it-works-icon-height);
    div {
        .vert-center-item();
    }
}

.how-it-works-half-row-padding {
    padding-left: 10%;   
}

.how-it-works-added-padding {
    padding-left: 30px;
}

