.background-container {
    background-image: url('../images/front-page-flipped.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

#home-share-buttons {
    margin-top: 50px;
    margin-bottom: 50px;
}

.white-text{
	color: white;
}

#about-container > p{
	font-size: 12px;
	padding-top: 10px;
}

#about-container > a{
	color: @orange-color;
	font-weight: bold;
	font-size: 10px;
}

.about-left-margin{
	padding-bottom: 25px;
}