.background-outside-container {
    width: 100%;
    margin-bottom: -2px;
}

.background-container {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    padding-top: 5em;
}

#home-share-buttons {
    margin-top: 50px;
    margin-bottom: 50px;
}

.white-text{
	color: white;
}

#about-container > p{
	font-size: @small-font;
	padding-top: 10px;
    text-shadow: 1px 1px 2px black;
}

#about-container > a{
	color: @orange-color;
	font-weight: bold;
    text-shadow: 1px 1px 2px black;
	font-size: @small-font;
}

.about-column {
	padding-bottom: 25px;
}
