/* Interior Page Panel*/

.button-orange {
    background-image: none;
    border: medium none;
    text-shadow: none;
    color: @white-color;
    font-size: @large-font;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: @orange-color;
    font-weight: 700;
    margin-right: 15px;
    cursor: pointer;
    text-align: center;
    min-width: 90px;
}

.thank-you-panel {
    padding: 30px;
    background-color: @blue-light-color;
    color: @white-color;
	text-decoration: none;
	font-size: @large-font;
}