/* Interior Page Panel*/

.button-orange {
    background-image: none;
    border: medium none;
    text-shadow: none;
    color: @white-color;
    font-size: @large-font;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: @orange-color;
    font-weight: 700;
    margin-right: 15px;
    cursor: pointer;
    text-align: center;
    min-width: 90px;
}

.thank-you-panel {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: @blue-light-color;
    color: @white-color;
	text-decoration: none;
	font-size: @large-font;
}

.button-thank{
    margin-left: 10px;
    border-radius: 0px;
    font-size: 12px;
    padding-left: 25px;
    padding-right: 25px;
}

.thank-you-row{
    padding-bottom: 0px;
    padding-top: 0px;
}

.thank-you-row > p{
    margin-bottom: 0px;
}

.back-text{
    color: @orange-color;
    font-size: 10px;
}

.back-row{
    margin-top: 20px;
}