
.modal-content{
    border-radius: 0px;
}

.modal-header{
    border-bottom: none;
    padding-left: none;
    padding-right: none;
}

.modal-footer{
    border-top: none;
    text-align: center;
    margin-top: 0px;
}

.modal-title{
    text-align: center;
}

.modal-header-title{
    font-size: @very-large-font;
}

.modal-close{
    margin-top: -25px !important;
    margin-right: -22px;
    z-index: 1000000;
    opacity: 1;
    text-shadow: none;
}

.modal-close:hover{
    color: gray;
    opacity: 1;
    text-shadow: none;
}

.modal-body{
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
}

.modal-header-body{
    font-size: @small-font;
}
