
// Navbar Header
.navbar-header, .navbar-brand {
    width: 100%
}

.tt-header {
    background-image: none;
    border: none;
    text-align: center;
}

.navbar-brand > h4 {
    font-weight: bold;
}

.navbar-brand > p {
    font-size: @small-font;
}

// Navbar footer
.tt-footer {
    text-align: center;
    margin: 0;
}

.tt-footer-contents > p {
    font-size: @tiny-font;
}

