
.share-postcard-container {
    .border-radius(2px);
    margin-bottom: 30px;
    padding: 15px;
}

.share-postcard-header {
    h3 {
        margin-top: 0;
        margin-bottom: 15px;
    }
}

.share-postcard-body {
    textarea {
        width: 100%;
    }
    margin-bottom: 5px;
}
