
.share-btn {
    font-size: @small-font;
    line-height: normal;
    border: none;
    color: white;
    text-shadow: none;
    margin: 0;
    .border-radius(0px);
}

.btn-email {
    color: white;
    background: #8DCA84;
}

.fixed-textarea{
	resize: none;
}

.added-padding{
    margin-top: 10px;
}