@import "main/step-number.less";

.tt-step-container {
    background-color: @white-color;
    padding-bottom: 1em;
}

.tt-step-container h1 {
    font-size: 1.7em;
}

.tt-step-container .row {
    margin-bottom: 1em;
}

.tt-step-container legend {
    font-size: 1em;
    border: none;
    padding: 0.5em 0 0 0;
    margin: 0;
}

.tt-btn-next {
    color: @white-color;
    background-color: @orange-color;
    text-transform: uppercase;
}

.tt-btn-next:hover,
.tt-btn-next:focus,
.tt-btn-next:active,
.tt-btn-next.active {
    color: @white-color;
    background-color: darken(@orange-color, 5%);
}