
.step-number-container {
    padding: 0;
    margin: 0;
}

.step-number {
    background-color: @blue-color;
    color: @white-color; 
    margin: 10px 0 10px 0;
    padding: 0;
    border-style: solid;
    border-color: @blue-color;
    border-width: 3px;
    // .border-radius(5px);
    p {
        margin: 5px 0 5px 0;
    }
    font-size: 12px;
}

.step-number.active {
    background-color: @blue-light-color;
}

.background-container{
    background-image:url('../images/front-page-flipped.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.background-outside-container{
    width: 100%;
    margin-bottom: -2px;
}

.step-tagline{
    font-weight: bold;
}

#step-container{
    background-color: white;
    padding-left: 31px;
    padding-right: 31px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 25px;
}

legend{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    border-bottom: none;
}

.small-text{
    font-size: 8px;
    text-align: right;
}

.text-input-format{
    border-radius: 0px;
    background-color: lightgray;
    margin-bottom: 10px;
}

.tiny-text{
    font-size: 8px;
}

.pull-bottom{
    vertical-align: middle !important;
    font-size: 12px;
}

.no-bottom > p {
    margin-bottom: 0px;
}

.all-steps-container{
    margin-left: 0px;
    margin-right: 0px;
}

.btn-next{
    border-radius: 0px;
    margin-top: 10px;
}
