@import "main/step-number.less";

#step-container {
    background-color: @white-color;
    padding-left: 31px;
    padding-right: 31px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 1em;
}

.step-tagline {
    font-size: 1.7em;
    font-weight: bold;
}

legend {
    font-size: 1.1em;
    font-weight: bold;
    border: none;
    padding: 0.5em 0 0 0;
    margin: 0;
}

fieldset {
    margin-bottom: 1em;
}

fieldset .row {
    margin-top: 1em;
}

fieldset .row:nth-of-type(1) {
    margin-top: 0;
}