@import "main/step-number.less";

.tt-step-container {
    background-color: @white-color;
    padding-bottom: 1em;
}

.tt-step-container h1 {
    font-size: 1.7em;
}

.tt-step-container .row {
    margin-bottom: 1em;
}

.tt-step-container legend {
    font-size: 1em;
    border: none;
    padding: 0.5em 0 0 0;
    margin: 0;
}

.tt-btn-next {
    color: @white-color;
    background-color: @orange-color;
    text-transform: uppercase;
}

.btn-next:hover,
.btn-next:focus,
.btn-next:active,
.btn-next.active {
    // margin-top: 10px;
    border-radius: 0px;
    color: @white-color;
    background-color: darken(@orange-color, 5%);
}

.step-tagline {
    font-weight: bold;
}

#step-container {
    background-color: white;
    padding-left: 31px;
    padding-right: 31px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 25px;
}

legend {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    border-bottom: none;
}

.small-text{
    font-size: 8px;
    text-align: right;
}

.text-input-format {
    border-radius: 0px;
    background-color: lightgray;
    // margin-bottom: 10px;
}

.tiny-text {
    font-size: 8px;
}

.pull-bottom {
    vertical-align: middle !important;
    font-size: 12px;
}

.no-bottom > p {
    margin-bottom: 0px;
}

.all-steps-container {
    margin-left: 0px;
    margin-right: 0px;
}