h2 Help us send a note to a teacher, coach, or mentor!

.tt-create-panel__container
    .progress#progress
        .progress-bar(role='progressbar', aria-valuenow=0, aria-valuemin=0, aria-valuemax=100, style='width: 0%')
            span#progress-label
    .tt-create-panel__stencil
        .tt-create-panel__strip
            #where-panel.tt-create-panel__slide
                include prompts/where
            #what-panel.tt-create-panel__slide
                include prompts/what
            #author-panel.tt-create-panel__slide
                include prompts/author