extends ../layout

block content
    script(src='/javascripts/make-postcard.js')
    
    #make-postcard-container
        #make-postcard.slide-wrapper
            include prompt
            include review
               
            
