extends ../layout

block content
    script(src='/javascripts/make-postcard.js')
    
    .row#postcardrow
        .col-xs-10.col-xs-offset-1
            p#prompt-text.hidden-xs
                | There has been a lot of negative talk about educators. We are here to change that conversation. Record a message to someone (a teacher, mentor, or coach, etc.) who had an impact on your life. Then, help us send your note to them!
            p#prompt-text.hidden-xs(style="font-size:14px;")
                | Send a note to someone (teachers, coaches, mentors, etc.) who impacted your education. We will give you the oppertunity to share your note with them.
    include postcard
    .row
        .col-md-12#send_button_div
            button.btn.btn-success.btn-lg.submit-button(id="send_button", data-toggle="modal", data-target="#finished-modal") 
                strong Send Postcard
            br
            br
    include ../finished-modal