extends ../layout

block content
    script(src=static('javascripts/make-postcard.js'))

    .tt-postcard-creator
        .tt-postcard-creator__strip
            #input.tt-postcard-creator__create-panel.tt-postcard-creator__slide
                include input
            #review.tt-postcard-creator__review-panel.tt-postcard-creator__slide
                include review
