extends ../layout

block content
    script(src='/javascripts/make-postcard.js')

    .js-tt-postcard-creator.tt-postcard-creator
        #input.tt-postcard-creator__create-panel
            include input
        include review