extends ../layout

block content
    script(src='/javascripts/make-postcard.js')
    
    #make-postcard.jumbotron
        .container
            h2 Tell us about a time that a teacher or mentor made a positive impact on your life.