
style.
    body {
        min-width: 768px !important;
    }

.row
    .col-md-8.col-md-offset-2.col-sm-12.col-xs-12
        .well.postcard-container
            .col-xs-7.content
                #spacer
                span.text-content.black-text
                    | Dear
                    label#who.text-center Name
                    br
                    br
                    p#what Story here
                    br
                    br

            .col-xs-5.address
                .row
                    .col-xs-9
                        #return_address(style="font-size: 14px")
                            input.full-width(placeholder="Arnold Perlstein" required='true')
                            input#email.answer.full-width(placeholder="Arnold.Perlstein@gmail.com" required='true')
                    .col-xs-3
                        #stamp_div.pull-right
                            img.pull-right.img-thumbnail(src='/images/square-logo.png' height="100px" width="80px" style="background-color: #133783")
                .row
                    .col-xs-12
                        #address_well
                            input.full-width#mailto_name(placeholder='Ms. Frizzle' required='true')
                            input.full-width#mailto_school(placeholder='Walkerville Elementary School' required='true')
                            input.full-width#mailto_street(placeholder='11400 South Lakes Dr.' required='true')
                            input.full-width#mailto_city_state(placeholder='Reston, VA 20191' required='true')