extends ../layout

block content
	link(href='http://fonts.googleapis.com/css?family=Shadows+Into+Light', rel='stylesheet', type='text/css')
	.row
		.col-md-6#letter
			.row
				.col-md-6
					p.handwriting Dear Mr. Sharp,
			.row
				.col-md-11
					p.handwriting Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis vestibulum enim, ut egestas lacus. In hac habitasse platea dictumst. Cras ligula velit, pretium vitae odio a, bibendum imperdiet elit. Sed eget tellus sit amet lacus tincidunt scelerisque. Donec sollicitudin sodales tellus vel venenatis.
			.row
				.col-md-4.col-md-offset-6
					p.handwriting Thanks!
						br
						| Jane Doe
		.col-md-6#envolope
			.row
				.col-md-6
					p.handwriting Jane Doe
						br
						| Jane.Doe@gmail.com
			.row#to_address
				.col-md-7.col-md-offset-3
					p.handwriting Mr. Sharp
						br
						| 11440 South Lakes Dr.
						br
						| Reston, VA 20190