extends ../layout

block content
	link(href='http://fonts.googleapis.com/css?family=Shadows+Into+Light', rel='stylesheet', type='text/css')
	.row
		.col-md-6.col-md-offset-3#letter
	.row
		.col-md-6.col-md-offset-3#envolope
			.row
				.col-md-6
					p.handwriting Jane Doe
						br
						| Jane.Doe@gmail.com
			.row#to_address
				.col-md-7.col-md-offset-3
					p.handwriting Mr. Sharp
						br
						| 11440 South Lakes Dr.
						br
						| Reston, VA 20190